In [17]:
import pandas as pd
import numpy as np

from numpy.random import randn

In [18]:
df = pd.DataFrame(randn(3,3), index=['a','b','c'], columns=['column1','column2','column3'])
df

    column1   column2   column3
a -3.046381 -1.475059 -1.676497
b -0.390688  0.621217  0.372555
c -0.993194  0.063320 -0.044145

In [19]:
# loc["row", "column"]
# loc["row"] => sadece satır seçmek için
# loc[":", "column"] => sadece sütun seçmek istiyorsak

result = df.loc["a"] # a indeksine sahip satırı getirir
result

column1   -3.046381
column2   -1.475059
column3   -1.676497
Name: a, dtype: float64

In [21]:
df.drop("column3", axis=1, inplace=True) #column4'ü siler  #axis=1 yukarıdan aşağı doğru yani bir sütunu sil anlamında
df  # normalde yukarıda inplace=true yazmasak bu orijinal dataFrame üzerinde güncelleme yapmaz. yani dataFramedan gelen değeri anca bir değişkene atayıp kullanabilirz.

    column1   column2
a -3.046381 -1.475059
b -0.390688  0.621217
c -0.993194  0.063320

In [ ]:
# Sayısal sütunların temel istatistiksel özetini verir

df.describe()

        column1   column2   column3
count  3.000000  3.000000  3.000000
mean   0.375910 -0.102795 -0.406949
std    0.834528  0.882319  0.455810
min   -0.400691 -1.022094 -0.854667
25%   -0.065274 -0.522787 -0.638695
50%    0.270142 -0.023480 -0.422722
75%    0.764211  0.356854 -0.183090
max    1.258280  0.737188  0.056543

In [ ]:
# Sütun isimleri, veri tipleri, eksik değer sayıları gibi bilgileri gösterir

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, a to c
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   column1  3 non-null      float64
 1   column2  3 non-null      float64
 2   column3  3 non-null      float64
dtypes: float64(3)
memory usage: 96.0+ bytes

In [ ]:
# Örnek olarak B sütununa göre A'nın ortalamasını alalım

df_random = pd.DataFrame({
    'A': randn(10),
    'B': ['X','Y','X','Y','X','Y','X','X','Y','Y']
})
df_random.groupby('B')['A'].mean()

B
X   -0.215357
Y    0.113080
Name: A, dtype: float64

In [ ]:
df1 = pd.DataFrame({'key': ['A', 'B', 'C'], 'value1': [1, 2, 3]})
df2 = pd.DataFrame({'key': ['A', 'B', 'D'], 'value2': [4, 5, 6]})

merged_df = pd.merge(df1, df2, on='key', how='inner')
merged_df

  key  value1  value2
0   A       1       4
1   B       2       5

In [ ]:
df_nan = pd.DataFrame({
    'A': [1, np.nan, 3],
    'B': [4, 5, np.nan]
})
df_nan_filled = df_nan.fillna(0)
df_nan_filled

     A    B
0  1.0  4.0
1  0.0  5.0
2  3.0  0.0

In [ ]:
df_concat = pd.concat([df1, df2], axis=0)
df_concat

  key  value1  value2
0   A     1.0     NaN
1   B     2.0     NaN
2   C     3.0     NaN
0   A     NaN     4.0
1   B     NaN     5.0
2   D     NaN     6.0

In [ ]:
df.iloc[0:3, 1:3]        # 0-2. satırları ve 1-2. sütunları getir
df

    column1   column2   column3
a  1.258280 -1.022094 -0.854667
b  0.270142 -0.023480  0.056543
c -0.400691  0.737188 -0.422722

In [24]:
df['column1'].value_counts()

column1
-3.046381    1
-0.390688    1
-0.993194    1
Name: count, dtype: int64